<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BGTaskSchedulerPermittedIdentifiers</key>
		<array>
			<string>com.eztrak.background.refresh</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Eztrak Isolate</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Eztrak Isolate</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
			<key>NSExceptionDomains</key>
			<dict>
				<key>195.26.242.125</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSExceptionMinimumTLSVersion</key>
					<string>TLSv1.0</string>
					<key>NSIncludesSubdomains</key>
					<true/>
				</dict>
				<key>hrdevelite.eztrak.net</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSExceptionMinimumTLSVersion</key>
					<string>TLSv1.0</string>
					<key>NSIncludesSubdomains</key>
					<true/>
				</dict>
				<key>hrdeveliteapi.eztrak.net</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSExceptionMinimumTLSVersion</key>
					<string>TLSv1.0</string>
					<key>NSIncludesSubdomains</key>
					<true/>
				</dict>
				<key>rental.eztraksoftware.com</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSExceptionMinimumTLSVersion</key>
					<string>TLSv1.0</string>
					<key>NSIncludesSubdomains</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NSBonjourServices</key>
		<array>
			<string>_http._tcp</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>This app needs access to camera to capture photos for override requests.</string>
		<key>NSLocalNetworkUsageDescription</key>
		<string>This app uses the local network to communicate with nearby devices.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>This app uses your location to show where you are relative to your assets on the map.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>This app uses your location to show where you are relative to your assets on the map.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app uses your location to show where you are relative to your assets on the map.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>This app needs access to save photos to your photo library.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app needs access to photo library to select photos for override requests.</string>
		<key>UIApplicationSceneManifest</key>
		<dict>
			<key>UIApplicationSupportsMultipleScenes</key>
			<false/>
			<key>UISceneConfigurations</key>
			<dict>
				<key>UIWindowSceneSessionRoleApplication</key>
				<array>
					<dict>
						<key>UISceneClassName</key>
						<string>UIWindowScene</string>
						<key>UISceneConfigurationName</key>
						<string>flutter</string>
						<key>UISceneDelegateClassName</key>
						<string>FlutterSceneDelegate</string>
						<key>UISceneStoryboardFile</key>
						<string>Main</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
			<string>fetch</string>
			<string>processing</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
	</dict>
</plist>
